.raphsign{
  width:370px;
  margin:0 auto;
}

.raphsign *, .raphsign{ box-sizing:border-box; }

.raphsign img{
  margin:5px;
  width:100px;
  height:100px;
  border-radius:50%;
  border:#2D84C4 3px solid;
  padding:3px;
    object-fit:cover;
}

.raphsign h2{
  text-align:center;
  font-size:20px;
  text-transform:uppercase;
    color:#0F2B40;font-family: 'Hammersmith One', sans-serif;
  padding-bottom:5px;
  margin-top:0px;
  border-bottom:#0F2B40 1px dashed;
}

.raphsign h1{
  text-align:justify;
  font-size:11px;
  line-height:12px;
  font-family:Times New Roman;
  font-weight:normal;
  font-family: 'Hammersmith One', sans-serif;
}