:root{
  --fich998-txt:"Montserrat", sans-serif;
 
  --fich998-fnd:url('https://i.servimg.com/u/f64/11/66/37/71/richar10.jpg');
--fich998-fnd2:rgba(255,255,255,0.4);
  --fich998-border: #f0f0f0;
  --fich999-txt:#222;
}

.fichrp998{ width:500px; margin:0 auto; overflow:hidden; text-align:justify;
position:relative;}
.fichrp998 img{ object-fit:cover; }
.fichrp998, .fichrp999 *{ box-sizing:border-box; }
.fichrp998 br{ display:none; }

.fichrp998-fnd{ background:var(--fich998-fnd2); height:83%; position:absolute;
    top:50%; left:-10%; z-index:1; width:130%; transform:translateY(-50%) rotate(5deg); }
.fichrp998-border br{ content:none; display:inline-block; }
.koala{display:flex; justify-content:center; font-size:8px; letter-spacing:5px; }


.fichrp998{ background:var(--fich998-fnd); background-size:cover; }
.fichrp998-border{ padding:40px; margin:50px 30px; border:1px solid var(--fich998-border); position:relative; z-index:2;
font-family:var(--fich998-txt); font-weight:500;}
