/* ROOT */ 

:root{ 
--tobiasrp-color1:#4d2d00; 
--tobiasrp-color2:#B6A999;
--tobiasrp-color3:#816642;}

.tobiasSign1{ width:300px; margin:0 auto; }
.tobiasSign1 .tobiasImgs{ margin-bottom:-10px; display:flex; justify-content:flex-end; }
.tobiasSign1 .tobiasImgs img{ height:80px; object-fit:cover; }
.tobiasSign1 .tobiasImgs .t1{ width:100px; margin-right:10px;}
.tobiasSign1 .tobiasImgs .t2{ width:150px; }
.tobiasSign1 span{ font-family: 'Playfair Display', serif; padding:5px; display:block; color:white; }
.tobiasSign1 .tobiasStart{ background:var(--tobiasrp-color1); 
 color:white; font-size:20px; font-weight:900; 
width:100%; text-transform:uppercase; transform:rotate(2deg); }
.tobiasSign1 .tobiasStart em{ font-style:normal; transform:rotate(0deg);}
.tobiasSign1 .tobiasCit{ background:var(--tobiasrp-color2);
font-size:11px; line-height:11px; padding-top:10px; margin-top:-5px;}