  .akio{
  width:500px;
  margin:0 auto;
  padding:15px;
  background-color:#fff;
  -moz-box-shadow: 2px 2px 5px 0px #cfcfcf;
-webkit-box-shadow: 2px 2px 5px 0px #cfcfcf;
-o-box-shadow: 2px 2px 5px 0px #cfcfcf;
box-shadow: 2px 2px 5px 0px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
  font-size:11px;
  line-height:13px;
  color:#575757;
  text-align:justify;
  border:#D19E9E 1px dotted;
}

.akio img{
  float:left;
  padding:3px;
  border:#B73333 1px solid; 
  width:200px;
  height:120px;
}

.akio div{
  width:280px;
  margin-top:-10px;
  float:right;
}

.akio h1{
  font-family: 'Pacifico', cursive;
  font-size:16px;
  line-height:18px;
  font-weight:normal;
  text-align:right;
  color:#B73333;
}

.akio h2{
  text-align:right;
  font-size:11px;
  line-height:12px;
  text-transform:uppercase;
  font-weight:normal;
  color:#757575;
  margin-top:-15px;
  font-family: 'Coming Soon', cursive;
}

.akio span{
  display:block;
  clear:both;
  padding:15px;
  margin-top:15px;
}