.baptsign{
  width:400px;
  margin:0 auto;
  
}

.baptsign img{
  width:120px;
  height:120px;
  -webkit-filter: blur(3px);
filter: blur(3px);
}

.baptsign img:hover{
  -webkit-filter: blur(0px);
filter: blur(0px);
}

.baptsign img, .baptsign img:hover{
-webkit-transition: all 500ms;
-moz-transition: all 500ms;
-ms-transition: all 500ms;
-o-transition: all 500ms;
transition: all 500ms;
}

.baptsign h1{
  font-family: 'Fjalla One', sans-serif;
  font-size:22px;
  text-align:center;
  letter-spacing:2px;
  text-transform:uppercase;
  color:#3A3A3A;
 
}

.baptsign h2{
  margin-top:-27px; 
    font-family: 'Fjalla One', sans-serif;
  font-size:11px;
  font-weight:normal;
  text-align:center;
}