.titrannif{
  margin:0 auto;
  width:500px;
  background-color:#fff;
  color:#4D4D4D;
  text-align:center;
  padding:10px;
  font-size:25px;
  font-weight:normal;
  line-height:27px;
  font-family: 'Lilita One', cursive;
}

.calendannif{
  width:550px;
  margin-top:-330px;
}

.calendannif td{
  width:140px !important;
  background-color:#fff;
  color:#4D4D4D;
  overflow:auto;
  font-size:11px;
  line-height:13px;
}

.calendannif td p{
  height:150px;
  text-align:left;
  padding:10px;
  overflow:auto;
}

.calendannif h2{
  color:#174959;
  text-align:center;
  font-weight:normal;
    font-family: 'Lilita One', cursive;
  font-size:16px;
  line-height:18px;
  text-transform:uppercase;
}
