.elias{
  width:400px;
  margin:0 auto;
}

.elias img{
  width:400px;
  -webkit-border-top-left-radius: 50px;
-webkit-border-top-right-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
  height:200px;
}

.elias h1{
  background-image:url('http://fc04.deviantart.com/fs30/f/2008/148/c/3/Wood_floor_by_gnrbishop.jpg');
  background-size:100%;
  color:#1D120E;
  font-size:18px;
  line-height:20px;
  padding:10px;
  font-family: 'Cinzel', serif;
  text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
  position:relative;
  z-index:7;
margin-top:27px;
}

  
.elias span{
    font-size:90px;
    color:#fff;
    opacity: 0.39;
filter: alpha(opacity =39);
  font-family:Arial;
  text-shadow:none;
  position:relative;
  z-index:13;
  margin-bottom:-65px;
  display:block;
  }

.elias h2{
  background-image:url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tileable_wood_texture.png');
  color:#535353;
  font-size:11px;
  line-height:12px;
  padding:15px;
  font-weight:normal;
  font-family:times new roman;
  margin-top:-20px;
}

.elias div{
  background-image:url('http://fc04.deviantart.com/fs30/f/2008/148/c/3/Wood_floor_by_gnrbishop.jpg');
  padding:25px;
  font-size:11px;
  line-height:13px;
  color:#1D120E;
  margin-top:-16px;
font-family:Verdana !important;
}

.elias .blocfinelias{
  background-image:url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tileable_wood_texture.png');
  -webkit-border-bottom-right-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-bottomright: 50px;
-moz-border-radius-bottomleft: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
  margin-top:-10px;
}