.gwenrp{ width:450px; margin:0 auto; }
.gwenrp *{ box-sizing:border-box; }
.gwenent{ display:flex; background-image:url('https://i.servimg.com/u/f30/19/45/51/53/fondde10.jpg');
  justify-content:space-around; padding:20px; width:100%; align-items:center; }
.gwenent img{ width:130px; height:100px; object-fit:cover; border-radius:30px; border:3px solid white; } 
.gwenent h1{ font-size:35px; color:#fff; font-family: 'Sacramento', cursive; line-height:38px; text-shadow: 2px 2px 2px rgba(150, 150, 150, 1); margin:0px; }
.gwenent h2{ color:#6181a4 !important; font-size:10px; font-family:Georgia; letter-spacing:3px; margin-top:-5px; font-weight:normal;} 
.gwencont{ margin-top: -18px;    width: 100%; font-family: 'Lato', sans-serif; font-size:14px; line-height:1.6em; text-align:justify; padding:15px; background-color:#fff; display:block; color:#000; }
.gwencont strong{ color: #000b17; }
.gwencont em{ color:#8eaccc; }
