<div class="version">
<h1>Habitudes</h1><div>
- Brosser les dents : 5 à 15 pts
- Douche : 5 pts
- Vider litière : 2 pts (la changer offre 5 pts)

- Cohérence Cardiaque du matin : de 1 à 10 pts
- Cohérence Cardiaque du midi : de 5 à 20 pts
- Cohérence Cardiaque du soir : de 3 à 15 pts

- Ne plus se ronger les ongles : de 5 à 15 pts par jour 

- Voter top site : 0.5 pts par forum 
- Relire rp : 2 pts à 10 pts
- Vérifier forums : 2 pts les deux par jour
- Recherche PRD : 1 pt + 3 si offre répondue
- Recherche FB : 2 pts + 4 pts si offre répondue

- Repas légume : 15 pts
- Repas pas trop manger : 5 pts - 15 pts maximum
- Repas abusé : - 10 pts - 20 pts maximum

- Marcher : 15 pts la demi-heure, 30 pts l'heure
- Just Dance 20 minutes : 5 pts

- Contacter Céline : 5 pts
- Contacter Lulu ou Félix : 2 pts
</div>
<h1>Démarches</h1><div>
- Se renseigner sur Youngest : 5 pts
- Se renseigner sur son incubateur : 5 pts
[i]- Faire repasser sa chemise par mari : 5 pts[/i]
- Passer l'entretien : 20 pts

[u]- Dentiste appeler : 10 pts[/u]
[u]- Aller à la caf : 15 pts[/u]
[u]- Faire plan futurs librairies etc : 10 pts[/u]</div><h1>Organisation CB</h1><div>
A noter que chaque semaine ça tourne. 
Une connexion CB se fait dans temps libre et rapporte 15 pts par connexion de plus de 5 minutes. 

Lundi : Redioactif 
Mardi : Urban Legends
Mercredi : Season's End
Jeudi : Neverland 
Vendredi : Les Terres de Nott
Samedi : Happy Ending chronicles
Dimanche : Moon's Spell
</div>
<h1>Lecture</h1><div>
- Lire le soir : 10 pts (+1 à chaque fois) 
- Lire dans le métro : 15 pts (+ 1 à chaque fois) 

- Terminer un livre : 4 pts par 100
- Fin du mois : 0.5 pt par livre lu

- Prendre manuscrit Nouvelles Plumes : 5 pts 
- Le lire : x 2 de lecture normale</div>
<h1>RPs</h1><div>
- RP de - 200 mots : 1 pts
- RP de 200 à 300 mots : 2 pts
- RP de 300 à 420 mots : 3 pts
- RP de 420 pts à 580 mots : 4 pts
- RP de + de 580 mots : 5 pts
- RP de + de 700 mots : 6 pts
+ de 1000 mots : 7 pts</div>
<h1>Ecriture</h1><div>
[u]- Chapitre de la Belulu : 10 pts[/u]
- Finir la Belulu : 5 pts par chapitre 

- Relire Quicksilver Métaphysique et poster : 1 pt par page + 3 pts 
- Relire Quicksilver Babillage et poster : 1 pt par page + 3 pts

- Revoir les défis de Cachecoeur : 2 pts</div>
<h1>Dessin</h1><div>-[b] Finir coloration Laviko : 20 pts[/b]

[b]- Faire meme avec Laviko : 10 pts[/b]

- Faire un dessin : de 3 à 15 pts</div>
<h1>Rangement</h1><div>
Ranger chambre général : 2 pts

Laver l'ordinateur (le 10 février) : 3 pts
Passer l'aspirateur vite : 1 pt (le mardi et vendredi)
Passer l'aspirateur bien : 4 pts (toutes les deux semaines)
Passer aspirateur autre pièce :
WC : 1 pt
Salle de bains : 1,5 pts
Salon : 3 pts
Chambre Mari : 2 pts
Ranger partie de la chambre : 2 pts la partie

Ranger images : de 0,5 à 2 pts
Ranger fonds : 10 pts
Ranger documents : de 1 à 10 pts (à détailler)
Trouver cable Disque dur externe, ranger toutes vidéos sur disque dur externe : 5 pts
</div>
<h1>Analyse</h1><div>
Prendre une analyse : 0,5 pts
Faire plan du plan : 0,5 pt par page
Faire plan détaillé complet : 4 pt si 1500 mots, 8 pts si 3000 mots, 6 entre les deux
<h2>Faire l'analyse rédaction : 10 pts par 1000 mots</h2>
Faire relecture : 0,5 pt par page</div>
<h1>Publicité</h1><div>
MAJ PRD : 5 pts

MAJ Partenariat Redioactif (le 06 mars) : 15 pts
Vérifier partenariat : 
- moins de 5 : 1 pt (1 fois par jour)
- de 5 à 10 : 2 pts
+ de 10 : 3 pts</div>
<h1>Cosplay</h1><div>
- Faire la cape : 20 pts
- Faire les oreilles et la queue : 25 pts
- Faire le haut rouge : 10 pts
- Faire les ailes : 15 pts</div>
<h1>Ré-hebergement</h1><div>
[u]- Changer les avatars de mes persos : 1 pt par avatar[/u]</div>
<h1>Site de la psy & CRCT</h1><div>
<h2>- Demander pour le category archive : 10 pts</h2>

[u]- Voir ce qu'il faut faire site psy : 2 pts[/u]</div>
<h1>Programmation / Codes</h1><div>[u]- Mettre à jour fichier de "à qui je code" : 5 pts[/u]</div>
<h1>Libre Service</h1><div>
Faire code rp libre service pour Redioactif : 5 pts par code (+5 si c'liens)

Faire code libre service adapté : 1 pt à 2 pt par code
Poster code libre service adapté : 1 pt  par code
Coder exprès libre service : de 2 à 8 pts le code

Ceux vraiment fait en libre service : Partie pour eux, avec tous ceux déjà fait : 10 pts</div>
<h1>Autres</h1><div><h3>- Faire liste cinéma : 10 pts</h3></div>
</div>