.wraphomelie{
  width:550px;
}

.wraphomelie h1{
    background-color:#BBCDD0;
  font-size:24px;
  padding:5px;
  color:#263537;
  font-family: 'Alegreya', serif;
  clear:both;
}

.pershom{
  width:550px;
  margin-top:-25px;
  margin-bottom:45px;
}

.pershom .giflienlie{
  width:200px;
  height:160px;
  margin-top:10px;
  border-top:#fff 2px solid;
    border-left:#fff 2px solid;
    border-bottom:#fff 2px solid;
  background-size:cover;
  float:left;
}

.pershom .p{
  float:left;
  box-shadow:#666 0px 0px 5px;
  width:300px;
  height:130px;
  color:#233C47;
  font-size:11px;
  line-height:13px;
  margin-top:-10px;
  padding:10px;
  overflow:auto;
  background-color:#fff;
}

.pershom .homelia h1{
  font-size:19px;
  color:#384A4E;
  background-color:none;
  text-align:left;
  clear:none;
  border-bottom:#65868D dotted 1px;
  text-transform:uppercase;
  margin-top:-5px;
  font-family: 'Alegreya', serif;
}

.pershom .homelia{
  float:left;
}

.pershom .p h2{
  text-align:right;
  color:#224841;
  font-size:18px;
  margin-top:-15px;
}