.leansign{
  width:400px;
  margin:0 auto;
  display:flex;
  wrap:no-wrap;
  height:300px;
}

.leansign .gaulean{
  width:135px;
  position:relative;
  height:140px;

}
  .leansign .r1, .leansign .r2, .leansign .gaulean img{
    -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
  }

.leansign .gaulean .r1{
  background-color:#c5283d;
  width:40px;
  height:40px;
    position:absolute;
  top:1px;
  left:1px;
  z-index:7;
  transition:800ms;
}

    .leansign .gaulean .r2{
      background-color:#8ea604;
      width:50px;
      height:50px;
      position:absolute;
  bottom:1px;
  right:1px;
  z-index:7;
  transition:700ms;
    }
    
    .leansign .gaulean img{
  width:120px;
  height:120px;
  object-fit:cover;
      border:#fff 5px solid;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
  position:relative;
  z-index:4;
    }
   
   .leansign h1{
  background-color:#fff;
  padding:10px;
  color:#555;
  font-family: 'Luckiest Guy', cursive;
  text-align:center;
  text-transform:uppercase;
  font-size:20px;
  font-weight:normal;
  margin-top:45px;
  margin-left:-10px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
}
 .leansign h2{
  -moz-transform: scale(0) rotate(180deg);
-webkit-transform: scale(0) rotate(180deg);
-o-transform: scale(0) rotate(180deg);
-ms-transform: scale(0) rotate(180deg);
transform: scale(0) rotate(180deg);
    background-color:#fff;
  padding:15px;
  color:#777;
  font-family:Verdana;
  text-align:center;
  font-size:11px;
  height:40px;
  line-height:12px;
  margin-top:-60px;
  font-weight:normal;
  margin-left:0px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
  transition:900ms;
  position:relative;
  z-index:12;
}

.leansign:hover .gaulean .r1{
  background-color:#f0a202;
}

.leansign:hover .gaulean .r2{
  background-color:#4e85ae;
}

.leansign:hover h2{
  -moz-transform: scale(1) rotate(0deg);
-webkit-transform: scale(1) rotate(0deg);
-o-transform: scale(1) rotate(0deg);
-ms-transform: scale(1) rotate(0deg);
transform: scale(1) rotate(0deg);
}

/* Leander Sign */ 

.leandersign{ display:flex; justify-content:space-between; flex-wrap:wrap; width:300px; margin:0 auto; }
.leandersign *{ box-sizing:border-box; }

.leandersign img{ width:100px; height:100px; object-fit:cover; position:relative;} 
.leandersign .onelean{clip-path: polygon(0 50%, 100% 0, 100% 100%);     left: 41px;    height: 86px; top:5px;}
.leandersign .twolean{ z-index:13; 
  clip-path: polygon(46% 0%, 24% 19%, 0% 13%, 11% 39%, 0% 50%, 14% 63%, 0 96%, 22% 87%, 30% 99%, 63% 81%, 99% 90%, 83% 58%, 100% 49%, 82% 25%, 98% 10%, 66% 12%); }
.leandersign .threelean{ clip-path: polygon(100% 50%, 0 0, 0 100%); z-index:7;      left: -47px;      height: 80px; top:5px; }

.leandersign span{ padding:5px; width:100%; margin:0 auto; display:block; font-size:10px; line-height:11px; font-family:Verdana; text-align:center; }
.leandersign b{ font-size:12px; letter-spacing:2px; text-transform:uppercase; color:#D88914; }