.raphlistrp{
  width:450px;
  margin:0 auto;
  padding-top:45px;
border-radius:90px;
  padding-bottom:45px;
  background-color:#5094C7;
}

.raphlistrp div{
  background-color:#fff;
  width:400px;
  padding:10px 25px 25px 25px;
}

.raphlistrp span{
  width:450px;
  display:flex;
      margin-top:25px;
}

.raphlistrp img{
  width:80px;
  height:80px;
  padding:3px;
  border:#5094C7 2px solid;
  display:block;
  border-radius:50%;
}

.raphlistrp h1{
  color:#5094C7;
  border-bottom:#5094C7 15px solid;
  font-family: 'Gamja Flower', cursive;
  font-size:27px;
  margin-left:10px;
}