<style>.gif1{
	-webkit-transform:perspective(100) rotateX(-45deg);
	background-color:url('http://38.media.tumblr.com/aaf085adcaff34a6cae05d5d46bb3ff9/tumblr_nqnqb8dzAq1rmwsrbo2_r1_400.gif');
	background-size:cover;
	margin:10px auto;
	width:200px;
	height:100px;
}</style>

<div class="gif1">