.sam{
  width:500px;
  background-image:url('http://i18.servimg.com/u/f18/11/66/37/71/68405710.jpg');
  background-size:50%;
  margin:0 auto;
  padding:-15px 0px 0px 0px;
}

.winc{
  width:450px;
  margin:0 auto;
  border-top:#fff solid 2px;
  background-color:#fff !important;
}

.winc div{
  width:222px;
  margin-right:5px;
  float:left;
  height:150px;
  background-size:cover;
}

.winc div+div{
  margin-right:0;
  float:left;
}

.sam span{
  margin:0 auto;
  width:449px;
  display:block;
}

.sam h1{
  clear:both;
  background-color: #2F4E64;
  padding:15px;
  text-align:center;
  font-size:24px;
  color:#fff;
  line-height:26px;
  font-family: 'Josefin Slab', serif;
  border-top:solid 5px #fff;
}

.sam h2{
  padding:5px 10px 5px 10px;
  background-color:#457394;
    font-size:10px;
  color:#fff;
  line-height:12px;
  text-align:center;
  margin-top:-29px;
}

.sam p{
  background-color:#fff;
  border-left:#6897B9 solid 5px; 
  border-right:#6897B9 solid 5px; 
  padding:25px;
  margin:0 auto;
  color:#000;
  position:relative;
  text-align:justify;
  font-family:Trebuchet MS;
  width:400px;
  font-size:13px;
  line-height:16px;
}