.rubsign{
  width:410px;
  margin:0 auto;
}

.rubsign:hover .rubimg, .rubimg, .lign, .rubsign:hover .lign{
  -webkit-transition: all 600ms linear;
-moz-transition: all 600ms linear;
-ms-transition: all 600ms linear;
-o-transition: all 600ms linear;
transition: all 600ms linear;
}

.rubimg{
  width:200px;
  height:110px;
  background-size:200px 110px;
  float:left;
  background-image:url('http://33.media.tumblr.com/tumblr_m1cse4RoEk1r99f4t.gif');
}

.rubsign:hover .rubimg{
  background-image:url('http://33.media.tumblr.com/tumblr_m1csckbShP1r99f4t.gif');
}

.rubtxt{
  font-size:10px;
  line-height:11px;
  text-align:justify;
  width:200px;
  height:100px;
  float:left;
  margin-left:10px;
  color:#F0D9D9;
}

.rubtxt i{
  color:#F0D9D9 !important;
}

.lign{
    background-color:#454545;
  color:#808080;
  height:10px;
  width:420px;
  margin-top:100px;
  clear:both;
  text-align:center;
}

.rubsign:hover .lign{
  background-color:#B64949;
  color:#B64949
}
