.sig { width:400px; }
.sig img { width:195px; }
.psdo { margin-top:-28px; font-weight:bolder; font-size:25px;}
.quot { width:380px; margin-top:-20px; font-size:10px; line-height:11px; padding:10px; letter-spacing:1px; }
.quot p { text-align:justify; margin:0; }
.kovo { font-size:7px; }

